---
layout: page
---

{% include shared/find_tech_vendors_by_titles titles=page.vendors %}
{% include shared/find_tech_categories_by_titles titles=page.categories %}
{% include shared/find_tech_relationships page=page %}
{% include shared/validate_not_null attr="Description" value=page.description %}
{% include shared/validate_not_null attr="Type" value=page.type %}
{% include shared/validate_value attr="Type" value=page.type list=site.data.shared.tech_types %}
{% include shared/validate_not_null attr="Date" value=page.date %}
{% if page.type != "Sub-Project" %}
  {% include shared/validate_not_null attr="Version" value=page.version %}
{% endif %}
{% include shared/find_project_parent tech=page %}
{% include shared/find_project_children tech=page %}

<p>{{ page.description }}</p>

{% comment %}
<p>{{ site.vendors }}</p>
<p>{{ site.vendors.Apache }}</p>
<p>{{ site.vendors.Apache[0] }}</p>
<p>{{ site.vendors.Apache[1] }}</p>
<p>{{ site.vendors.Apache[1] }}</p>
{% endcomment %}<h2>Metadata</h2>

<ul>
  <li>Other Names:<ul>{% for at in page.alt-titles %}<li>{{ at }}</li>{% endfor %}</ul></li>
  <li>Vendors:<ul>{% for v in page.x_vendors %}<li>{{ v.href }}</li>{% endfor %}</ul></li>
  <li>Categories:<ul>{% for c in page.x_categories %}<li>{{ c.href }}</li>{% endfor %}</ul></li>
  <li>Relationships:<ul>{% for tr in page.x_tech_rels %}
    <li>{{ tr[0] }}:<ul>{% for t in tr[1] %}
      <li>{{ t.href }}</li>
    {% endfor %}</ul></li>
  {% endfor %}</ul></li>
  <li>Type: {{ page.type }}</li>
  <li>Date: {{ page.date }}</li>
  <li>Version: {{ page.version }}</li>
  <li>Parent Project: <a href="{{ parent_project.url }}">{{ parent_project.title }}</a></li>
  <li>Sub Projects:<ul>{% for p in sub_projects %}<li><a href="{{ p.url }}">{{ p.title | escape }}</a></li>{% endfor %}</ul></li>
</ul>

{{ content }}

<h2>Blog Posts</h2>

{% include shared/find_posts_by_tag_titles page=page %}
<ul>
  {% for p in posts %}
    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
  {% endfor %}
</ul>