---
layout: page
---
<p>{{ page.description }}</p>

<h2>Metadata</h2>

<ul>
  <li>Other Names:<ul>{% for at in page.alt-titles %}<li>{{ at }}</li>{% endfor %}</ul></li>
  <li>Vendors:<ul>{% for v in page.x_vendors %}<li>{{ v.href }}</li>{% endfor %}</ul></li>
  <li>Categories:<ul>{% for c in page.x_categories %}<li>{{ c.href }}</li>{% endfor %}</ul></li>
  <li>Relationships:<ul>{% for tr in page.x_tech_rels %}
    <li>{{ tr[0] }}:<ul>{% for t in tr[1] %}
      <li>{{ t.href }}</li>
    {% endfor %}</ul></li>
  {% endfor %}</ul></li>
  <li>Type: {{ page.type }}</li>
  <li>Created Date: {{ page.date }}</li>
  <li>Last Updated: {{ page.last_updated }}</li>
  <li>Version: {{ page.version }}</li>
  <li>Parent Project: {{ page.x_parent_project.href }}</li>
  <li>Sub Projects:<ul>{% for p in page.x_sub_projects %}<li>{{ p.href }}</li>{% endfor %}</ul></li>
</ul>

{{ content }}

<h2>Blog Posts</h2>

<ul>
  {% for p in page.x_posts %}
    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
  {% endfor %}
</ul>